div    
    h1 Статті
    hr
    div
        each article in articles
            h1= article.title
            p= article.content
            hr
            h2 Коментарі
            if !article.comments.length
                p Коментарів немає
            else
                each comment in article.comments
                    p= comment.date
                    p= comment.text
                    hr
            div
                form(method="POST", action=`/${article.url}/comments`)
                    div
                        textarea(name="comment", placeholder="Comment")
                    div
                        button(type="submit") Зберегти
